In [19]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
import os
import sys
sys.path.append(os.path.abspath('..'))

#Solution

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [9]:
file_url = 'https://code.datasciencedojo.com/datasciencedojo/datasets/raw/master/Beijing%20PM2.5/PRSA_data_2010.1.1-2014.12.31.csv'
df = pd.read_csv(file_url)
df.head()

   No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0   1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1   2  2010      1    1     1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2   3  2010      1    1     2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3   4  2010      1    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4   5  2010      1    1     4    NaN   -20 -12.0  1018.0   NW  12.97   0   0

In [10]:
# Solution
df.to_csv('../data/raw/pollution.csv', index=False)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43824 entries, 0 to 43823
Data columns (total 13 columns):
No       43824 non-null int64
year     43824 non-null int64
month    43824 non-null int64
day      43824 non-null int64
hour     43824 non-null int64
pm2.5    41757 non-null float64
DEWP     43824 non-null int64
TEMP     43824 non-null float64
PRES     43824 non-null float64
cbwd     43824 non-null object
Iws      43824 non-null float64
Is       43824 non-null int64
Ir       43824 non-null int64
dtypes: float64(4), int64(8), object(1)
memory usage: 4.3+ MB

In [6]:
df.describe()

,No,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,Iws,Is,Ir
count,43824.000000,43824.000000,43824.000000,43824.000000,43824.000000,41757.000000,43824.000000,43824.000000,43824.000000,43824.000000,43824.000000,43824.000000
mean,21912.500000,2012.000000,6.523549,15.727820,11.500000,98.613215,1.817246,12.448521,1016.447654,23.889140,0.052734,0.194916
std,12651.043435,1.413842,3.448572,8.799425,6.922266,92.050387,14.433440,12.198613,10.268698,50.010635,0.760375,1.415867
min,1.000000,2010.000000,1.000000,1.000000,0.000000,0.000000,-40.000000,-19.000000,991.000000,0.450000,0.000000,0.000000
25%,10956.750000,2011.000000,4.000000,8.000000,5.750000,29.000000,-10.000000,2.000000,1008.000000,1.790000,0.000000,0.000000
50%,21912.500000,2012.000000,7.000000,16.000000,11.500000,72.000000,2.000000,14.000000,1016.000000,5.370000,0.000000,0.000000
75%,32868.250000,2013.000000,10.000000,23.000000,17.250000,137.000000,15.000000,23.000000,1025.000000,21.910000,0.000000,0.000000
max,43824.000000,2014.000000,12.000000,31.000000,23.000000,994.000000,28.000000,42.000000,1046.000000,585.600000,27.000000,36.000000

In [13]:
df_cleaned = df.copy()
df_cleaned.drop('No', axis=1, inplace=True)

In [14]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
num_cols = ['year', 'DEWP', 'TEMP', 'PRES', 'Iws', 'Is', 'Ir']
sc = StandardScaler()
# Solution
df_cleaned[num_cols] = sc.fit_transform(df_cleaned[num_cols])

df_cleaned.describe()

,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,Iws,Is,Ir
count,4.382400e+04,43824.000000,43824.000000,43824.000000,41757.000000,43824.000000,4.382400e+04,4.382400e+04,4.382400e+04,4.382400e+04,4.382400e+04
mean,-4.150670e-17,6.523549,15.727820,11.500000,98.613215,0.000000,-3.631836e-17,4.851095e-15,-2.723877e-17,-3.048148e-17,-5.739598e-17
std,1.000011e+00,3.448572,8.799425,6.922266,92.050387,1.000011,1.000011e+00,1.000011e+00,1.000011e+00,1.000011e+00,1.000011e+00
min,-1.414601e+00,1.000000,1.000000,0.000000,0.000000,-2.897280,-2.578070e+00,-2.478206e+00,-4.686885e-01,-6.935299e-02,-1.376671e-01
25%,-7.073005e-01,4.000000,8.000000,5.750000,29.000000,-0.818750,-8.565433e-01,-8.226701e-01,-4.418938e-01,-6.935299e-02,-1.376671e-01
50%,0.000000e+00,7.000000,16.000000,11.500000,72.000000,0.012662,1.271863e-01,-4.359456e-02,-3.703083e-01,-6.935299e-02,-1.376671e-01
75%,7.073005e-01,10.000000,23.000000,17.250000,137.000000,0.913358,8.649835e-01,8.328654e-01,-3.957482e-02,-6.935299e-02,-1.376671e-01
max,1.414601e+00,12.000000,31.000000,23.000000,994.000000,1.814055,2.422555e+00,2.877939e+00,1.123196e+01,3.543986e+01,2.528875e+01

In [15]:
cat_cols = ['month', 'day', 'hour', 'cbwd']
ohe = OneHotEncoder(sparse=False)
X_cat = pd.DataFrame(ohe.fit_transform(df_cleaned[cat_cols]))
X_cat

,0,1,2,3,4,5,6,7,8,9,...,61,62,63,64,65,66,67,68,69,70
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
43820,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
43821,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
43822,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
43823,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [16]:
X_cat.columns = ohe.get_feature_names(cat_cols)

X_cat

,month_1,month_2,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,...,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23,cbwd_NE,cbwd_NW,cbwd_SE,cbwd_cv
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
43820,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
43821,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
43822,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
43823,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [17]:
df_cleaned.drop(cat_cols, axis=1, inplace=True)
X = pd.concat([df_cleaned, X_cat], axis=1)
X

,year,pm2.5,DEWP,TEMP,PRES,Iws,Is,Ir,month_1,month_2,...,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23,cbwd_NE,cbwd_NW,cbwd_SE,cbwd_cv
0,-1.414601,NaN,-1.580878,-1.922250,0.443328,-0.441894,-0.069353,-0.137667,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,-1.414601,NaN,-1.580878,-2.004228,0.345943,-0.379306,-0.069353,-0.137667,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,-1.414601,NaN,-1.580878,-1.922250,0.248559,-0.343514,-0.069353,-0.137667,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,-1.414601,NaN,-1.580878,-2.168183,0.248559,-0.280926,-0.069353,-0.137667,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,-1.414601,NaN,-1.511594,-2.004228,0.151174,-0.218339,-0.069353,-0.137667,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,1.414601,8.0,-1.719447,-1.184453,1.709325,4.160780,-0.069353,-0.137667,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
43820,1.414601,10.0,-1.650162,-1.266431,1.709325,4.276956,-0.069353,-0.137667,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
43821,1.414601,10.0,-1.650162,-1.266431,1.709325,4.375337,-0.069353,-0.137667,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
43822,1.414601,8.0,-1.650162,-1.348408,1.709325,4.455720,-0.069353,-0.137667,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
43823,1.414601,12.0,-1.580878,-1.266431,1.709325,4.518308,-0.069353,-0.137667,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [20]:

# Solution
X_train, y_train, X_val, y_val, X_test, y_test = split_sets_by_time(X, target_col='pm2.5', test_ratio=0.2, to_numpy=True)
save_sets(X_train=X_train, y_train=y_train, X_val=X_val, y_val=y_val, X_test=X_test, y_test=y_test, path='../data/processed/beijing_pollution/')

ModuleNotFoundError: No module named 'src.data.sets'

In [21]:
from src.data.sets import split_sets_by_time, save_sets

ModuleNotFoundError: No module named 'src.data.sets'

In [35]:
from src.models.null import NullModel

baseline_model = NullModel()
y_base = baseline_model.fit_predict(y_train)

In [46]:
from src.models.performance import print_reg_perf
#print_reg_perf(y_base, y_train, set_name='Training')

In [2]:
# import torch
# import torch.nn as nn
# import torch.nn.functional as F

#from src.models.pytorch import PytorchRegression

model = PytorchRegression(X_train.shape[1])

from src.models.pytorch import get_device

device = get_device()
model.to(device)

NameError: name 'null' is not defined

In [4]:
print(model)

NameError: name 'model' is not defined

### Create data loader

In [77]:
from torch.utils.data import Dataset, DataLoader

from src.models.pytorch import PytorchDataset

train_dataset = PytorchDataset(X=X_train, y=y_train)
val_dataset = PytorchDataset(X=X_val, y=y_val)
test_dataset = PytorchDataset(X=X_test, y=y_test)

In [78]:
train_loader = DataLoader(dataset=train_dataset, batch_size=32, shuffle=True)
val_loader = DataLoader(dataset=val_dataset, batch_size=1)
test_loader = DataLoader(dataset=test_dataset, batch_size=1)

### Train Model

In [81]:
import torch as torch
import torch.nn as nn
criterion = nn.MSELoss()
optimizer = torch.optim.Adam(model.parameters(), lr=0.001)

In [ ]:
N_EPOCHS = 5
BATCH_SIZE = 10

for epoch in range(N_EPOCHS):
    train_loss, train_rmse = train_regression(train_dataset, model=model, criterion=criterion, optimizer=optimizer, batch_size=BATCH_SIZE, device=device)
    valid_loss, valid_rmse = test_regression(val_dataset, model=model, criterion=criterion, batch_size=BATCH_SIZE, device=device)

    print(f'Epoch: {epoch}')
    print(f'\t(train)\tLoss: {train_loss:.4f}\t|\tRMSE: {train_rmse:.1f}')
    print(f'\t(valid)\tLoss: {valid_loss:.4f}\t|\tRMSE: {valid_rmse:.1f}')

### Access Performance

In [ ]:
torch.save(model, "../models/pytorch_reg_pm2_5.pt")
test_loss, test_rmse = test_regression(test_dataset, model=model, criterion=criterion, batch_size=BATCH_SIZE, device=device)
print(f'\tLoss: {test_loss:.4f}\t|\tRMSE: {test_rmse:.1f}')